#panel-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}

#panel {
  display: none;
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .7);
}

#panel-close {
  float: right;
  margin-top: -20px;
  margin-right: -20px;
}

#panel-close svg {
  float: right;
  width: 44px;
  height: 44px;
  padding: 10px;
  background-color: #fff;
}

body.panel-open #panel-backdrop {
  display: flex;
}

body.panel-open #panel {
  display: block;
}

#panel h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

#panel h4 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

#panel p {
  margin: 0 0 15px 0;
}

#panel p:last-child {
  margin-bottom: 0;
}

#panel a.list-item {
  display: block;
  margin-bottom: 5px;
}

#panel a.list-item:last-child {
  margin-bottom: 0;
}

#panel a.active {
  font-weight: bold;
}

#panel .alert {
  display: none;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#panel .alert.success {
  display: block;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#panel .alert.error {
  display: block;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#panel ul {
  margin: 0 0 15px 0;
  padding-left: 30px;
}

#panel ul:last-child {
  margin-bottom: 0;
}

#panel form > div {
  margin-bottom: 20px;
}

#panel form > div:last-child {
  margin-bottom: 0;
}

#panel form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#panel form input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: inherit;
  background-color: #fff;
  color: #000;
}

#panel form button {
  display: inline-block;
  margin: 0;
  padding: 6px 10px;
  font-size: inherit;
}

#panel table {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

#panel th, #panel td {
  padding: 6px 10px;
  border: 1px solid #ccc;
}

#panel th {
  text-align: left;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  #panel-backdrop {
    padding: 50px 25px 25px 25px;
  }

  #panel {
    max-width: 800px;
  }
}
