#panel-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}

#panel {
  display: none;
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .7);
}

#panel-close {
  float: right;
  margin-top: -20px;
  margin-right: -20px;
}

#panel-close svg {
  float: right;
  width: 44px;
  height: 44px;
  padding: 10px;
  background-color: #fff;
}

body.panel-open #panel-backdrop {
  display: flex;
}

body.panel-open #panel {
  display: block;
}

#panel h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: bold;
}

#panel h4 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

#panel p {
  margin: 0 0 20px 0;
}

#panel p:last-child {
  margin-bottom: 0;
}

#panel a.list-item {
  display: block;
  margin-bottom: 5px;
}

#panel a.list-item:last-child {
  margin-bottom: 0;
}

#panel a.active {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  #panel-backdrop {
    padding: 50px 25px 25px 25px;
  }

  #panel {
    max-width: 800px;
  }
}
