@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}