* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
  padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */

  min-height: 100%;
  background-color: #fff;
  color: #000;
  background: linear-gradient(90deg, rgba(158,1,66,0.4) 0%, rgba(213,62,79,0.4) 10%, rgba(244,109,67,0.4) 20%, rgba(253,174,97,0.4) 30%, rgba(254,224,139,0.4) 40%, rgba(255,255,191,0.4) 50%, rgba(230,245,152,0.4) 60%, rgba(171,221,164,0.4) 70%, rgba(102,194,165,0.4) 80%, rgba(50,136,189,0.4) 90%, rgba(94,79,162,0.4) 100%),
              linear-gradient(180deg, rgba(158,1,66,0.4) 0%, rgba(213,62,79,0.4) 10%, rgba(244,109,67,0.4) 20%, rgba(253,174,97,0.4) 30%, rgba(254,224,139,0.4) 40%, rgba(255,255,191,0.4) 50%, rgba(230,245,152,0.4) 60%, rgba(171,221,164,0.4) 70%, rgba(102,194,165,0.4) 80%, rgba(50,136,189,0.4) 90%, rgba(94,79,162,0.4) 100%);
  background-blend-mode: lighten;
  font-size: 16px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
}

#game {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  position: relative;
  text-align: center;
  font-size: 30px;
}

body.attract #attract, body.waiting #waiting, body.playing #playing, body.game-over #game-over {
  display: flex;
}

.layer {
  display: none;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#waiting {
  font-size: 40px;
  font-weight: bold;
}

.play {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  padding: 10px 20px;
  border: 1px solid #2b308f;
  border-radius: 4px;
  background-color: #3137a3;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.play:hover {
  background-color: #252a7c;
  border-color: #1d2160;
}

.play:active {
  background-color: #252a7c;
  border-color: #1d2160;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.play:focus {
  background-color: #252a7c;
  border-color: #0e0f2d;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.play.disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.65;
}

.unranked {
  stroke: #555555;
}

.bronze {
  stroke: #D39B77;
  /*background: linear-gradient(to bottom, #D39B77, #FEFEF3, #935D38, #632E05);*/
}

.silver {
  stroke: #CACED2;
  /*background: linear-gradient(to bottom, #CACED2, #F1F2F6,  #757F88);*/
}

.gold {
  stroke: #F7E36D;
  /*background: linear-gradient(to bottom, #FCFCF4, #F7E36D, #B55F06, #5A4122);*/
}

.platinum {
  stroke: #67655F;
  /*background: linear-gradient(to bottom, #ECEDE8, #8E8F89, #67655F, #D8DCD8, #8C8B84);*/
}

.diamond {
  /*background: linear-gradient(to bottom, #F4F5F8, #B5BDC3, #335B80, #0B2B3D);*/
  /*background: linear-gradient(to bottom, #B4BCC1 10%, #F0F0F2, #E7E8EB, #697B82);*/
  /*background: linear-gradient(to bottom, #F4F5F8, #335B80, #6086A4, #939F90, #DBDEE1, #B5BDC3, #335462);*/
  stroke: #335B80;
  /*background: linear-gradient(7deg, #335B80, #F4F5F8,  #939F90, #DBDEE1, #B5BDC3, #335462);*/
}

.strontium {
  stroke: #E1D7B6;
  /*background: linear-gradient(to bottom, #E1D7B6, #D7CEB0, #E3B56C, #8B7A6A);*/
}

.vanadium {
  stroke: #73788C;
  /*background: linear-gradient(to bottom, #C6CDD9, #42455A, #73788C, #4B4F65);*/
}

#playing {
  justify-content: space-between;
}

#play-field {
  position: relative;
  width: 250px;
  height: 250px;
}

#time-remaining {
  width: 100%;
  height: 100%;
  stroke: #3137a3;
}

#play-field.grind #time-remaining-track {
  stroke: #ff8000;
}

#out {
  position: absolute;
  top: 29px;
  left: 29px;
}

#play-field.grind #out {
  fill: #ff8000;
}

#up, #right, #down, #left {
  display: none;
}

body.up #up, body.right #right, body.down #down, body.left #left {
  display: block;
}

#input {
  display: none;
  background-color: #fff;
  stroke: #000;
}

body.touch #input {
  display: block;
}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;

  width: 250px;
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

#stack {
  width: 50px;
  padding: 10px;
  background-color: #dbdbdb;
}

#score {
  flex: 1;
  padding: 10px;
}

#info-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#results {
  margin-bottom: 40px;
}

table {
  margin-top: 40px;
  border-collapse: collapse;
  border: none;
  text-align: left;
}

th, td {
  padding: 0 0 10px 0;
  border: none;
}

th {
  padding-right: 10px;
  font-weight: normal;
  text-align: right;
}

td {
  font-weight: bold;
}

#attribution-link {
  display: none;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 16px;
}

body.attract #attribution-link, body.game-over #attribution-link {
  display: block;
}

#music-status {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#music-status .disabled, #music-status .enabled {
  display: none;
}

body.attract #music-status.disabled .disabled, body.attract #music-status.enabled .enabled,
 body.game-over #music-status.disabled .disabled, body.game-over #music-status.enabled .enabled {
  display: block;
}

#attribution {
  display: none;
}

@media screen and (min-width: 460px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #game {
    z-index: 1;
    width: 460px;
    height: 500px;
    padding: 0;
  }

  body.touch #game {
    height: 700px;
  }

  .play {
    position: static;
    margin-left: 0;
  }

  #playing {
    justify-content: center;
  }

  #play-field {
    position: relative;
    width: 300px;
    height: 300px;
  }

  #out {
    top: 54px;
    left: 54px;
  }

  #info {
    width: 300px;
    margin-top: 30px;
    font-size: 40px;
  }

  #stack {
    width: 60px;
  }

  #input {
    margin-top: 30px;
  }
}
