* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
  padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */

  background-color: #f0f0f0;
  color: #000;
  font-size: 16px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
}

@keyframes flash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#flasher {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  animation: both flash 800ms;
}

#flasher.success {
  background-color: #5cb85c;
}

#flasher.failure {
  background-color: #d9534f;
}

#flasher.game-over {
  background-color: #5bc0de;
}

.layer {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

body.touch.playing .layer {
  padding-bottom: 0;
}

body.attract #attract, body.waiting #waiting, body.playing #playing, body.game-over #game-over {
  display: flex;
}

#waiting {
  font-size: 40px;
  font-weight: bold;
}

.play {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  padding: 10px 20px;
  z-index: 1;
  border: 1px solid #2b308f;
  border-radius: 4px;
  background-color: #3137a3;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.play:hover {
  background-color: #252a7c;
  border-color: #1d2160;
}

.play:active {
  background-color: #252a7c;
  border-color: #1d2160;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.play:focus {
  background-color: #252a7c;
  border-color: #0e0f2d;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.play.disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.65;
}

.unranked {
  stroke: #555555;
}

.bronze {
  stroke: #D39B77;
  /*background: linear-gradient(to bottom, #D39B77, #FEFEF3, #935D38, #632E05);*/
}

.silver {
  stroke: #CACED2;
  /*background: linear-gradient(to bottom, #CACED2, #F1F2F6,  #757F88);*/
}

.gold {
  stroke: #F7E36D;
  /*background: linear-gradient(to bottom, #FCFCF4, #F7E36D, #B55F06, #5A4122);*/
}

.platinum {
  stroke: #67655F;
  /*background: linear-gradient(to bottom, #ECEDE8, #8E8F89, #67655F, #D8DCD8, #8C8B84);*/
}

.diamond {
  /*background: linear-gradient(to bottom, #F4F5F8, #B5BDC3, #335B80, #0B2B3D);*/
  /*background: linear-gradient(to bottom, #B4BCC1 10%, #F0F0F2, #E7E8EB, #697B82);*/
  /*background: linear-gradient(to bottom, #F4F5F8, #335B80, #6086A4, #939F90, #DBDEE1, #B5BDC3, #335462);*/
  stroke: #335B80;
  /*background: linear-gradient(7deg, #335B80, #F4F5F8,  #939F90, #DBDEE1, #B5BDC3, #335462);*/
}

.strontium {
  stroke: #E1D7B6;
  /*background: linear-gradient(to bottom, #E1D7B6, #D7CEB0, #E3B56C, #8B7A6A);*/
}

.vanadium {
  stroke: #73788C;
  /*background: linear-gradient(to bottom, #C6CDD9, #42455A, #73788C, #4B4F65);*/
}

#play-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  flex-grow: 1;
  line-height: 0;
}

#stack-track {
  transition: stroke-dashoffset 100ms;
}

#stack-track.reset {
  transition-property: none;
}

#up, #right, #down, #left {
  display: none;
}

body.up #up, body.right #right, body.down #down, body.left #left {
  display: block;
}

#input {
  display: none;
  flex: none;
  margin-top: 20px;
  background-color: #fff;
  stroke: #000;
}

body.touch #input {
  display: block;
}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  position: relative;
  margin-top: 20px;
  overflow: auto;

  text-align: center;
  font-size: 40px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

#streak {
  width: 90px;
  padding: 10px;
  background-color: #e0e0e0;
  line-height: 1.1;
}

#score {
  flex: 1;
  padding: 10px;
  line-height: 1.1;
  font-weight: bold;
}

#info-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
}

#results {
  margin-bottom: 40px;
}

#results * {
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

table {
  border-collapse: collapse;
  border: none;
  text-align: left;
}

#results table {
  margin-top: 40px;
}

th, td {
  padding: 0 0 10px 0;
  border: none;
}

th {
  padding-right: 10px;
  font-weight: normal;
  text-align: right;
}

td {
  font-weight: bold;
}

#footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-size: 16px;
}

body.playing #footer {
  display: none;
}

#music-status .disabled, #music-status .enabled {
  display: none;
}

#music-status.disabled .disabled, #music-status.enabled .enabled {
  display: block;
}

#attribution {
  display: none;
}

@media screen and (min-width: 460px) {
  .layer {
    padding: 30px;
  }

  .play {
    position: static;
    margin-left: 0;
  }

  #info {
    margin-top: 30px;
    font-size: 50px;
  }

  #streak {
    width: 120px;
  }

  #input {
    margin-top: 30px;
  }
}
