#my-scores-root h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

#my-scores-root th {
  text-align: left;
  font-weight: bold;
}

#my-scores-root th, #my-scores-root td {
  padding: 5px;
}

#my-scores-root td {
  font-weight: normal;
}